/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ################## html element styling ###################  */
html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* ################### utility classes ####################  */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}


.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}

.bg-dark{
    background-color: #263238;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 2.5em;
    color: #e63946;
    background: #fff;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}


/* ###################### header styling ##########################  */
.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('./assets/img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 1rem;
}


.navbar .logo{
    float: left;
}

.navbar .nav-items{
    float: right;
    margin-top : 1rem;
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* #################### header content styling #######################  */

.header-content{
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
}

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;
}

/* ####################### SHOWCASE SECTION STYLING ########################## */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height:350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
}
.text-xs{
    font-size: 12px;
}
.text-center{
    text-align: center;
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}


.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}
.row .text-box{
    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

/* ##################### FEATURES SECTION STYLING ###########################  */

.features{
    padding: 10rem 0;
}

.box-wrapper{
    box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
}

.box{
    width: 33.3333333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}

.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

/* ############# FOOTER STYLING #########################  */
.footer{
    background: #263238;
    color: #f4f4f4; 
    padding: 2rem;
    text-align: center;
}

.social-media-links svg{
    margin: 2rem;
}


/* ################ ABOUT PAGE STYLING ###########################  */

.about{
    padding: 5rem 0;
}

.about-heading::after{
    content:'';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}

/* ############# about wrapper styling ####################  */

.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}

.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .right{
    float: right;
    width: 50%;
}

.about-wrapper::after{
   content: '';
   display: block;
   clear: both;
}

.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

/* ############### count styling ################# */
.counts {
    margin-top: 3rem;
}
.count-item{
    width: 25%;
    float: left;
    text-align: center;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}
.count-item span {
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.count-item p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}

/* ################## banner styling ##################### */
.cta-banner{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
}

.cta-banner-left{
    width: 60%;
    float: left;
}

.cta-banner-right{
    width: 40%;
    float: right;
    text-align: right;
}

.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}

.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}

/* ################### CONTACT PAGE STYLING ####################### */
.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
}


.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.form-wrapper .company-address{
    height: 760px;
    background: #fff;
    width: 49%;
    float: left;
    padding: 1rem;
}


.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}


.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

/* ################# form styling #################### */
.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    width: 49%;
    float: right;
    padding: 1rem;
}

.form h1::after{
    content: '';
    display: block;
    border: 3px solid #ee4758;
    width: 100%;
   
}
.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: '* ';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ###################### media queries ########################  */

@media (max-width: 500px){
    html{
        /* font-size: 8px; */
        font-size: 50%;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content .main-heading{
        display: none;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }
    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media(min-width: 501px) and (max-width: 768px){
    html{
        /* font-size: 8px; */
        font-size: 50%;
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
   

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }
    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media(min-width: 769px) and (max-width: 1200px){
    html{
        font-size: 56.25%;
    }

    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 500;
    }
}

@media(orientation: landscape) and (max-height: 500px){
    .header{
        height: 90vmax;
    }
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.developer_skills .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.developer_skills .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.developer_skills .responsive-container-block.bg {
  /* max-width: 1500px; */
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-right: 10px;
  padding-bottom: 80px;
  padding-left: 10px;
}

.developer_skills .responsive-container-block.line {
  min-height: 51px;
  width: 2px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #c4c4c4;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.developer_skills .text-blk.title {
  font-size: 25px;
  line-height: 34.1px;
  font-weight: 700;
  color: #00b2eb;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.developer_skills .text-blk.heading {
  max-width: 800px;
  font-size: 25px;
  line-height: 34.1px;
  color: #666666;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.developer_skills .responsive-container-block.card {
  width: 30%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-right: 10px;
  padding-bottom: 31px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-color: #999999;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #999999;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #999999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #999999;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  max-width: 350px;
}

.developer_skills .responsive-container-block.img {
  width: 58px;
  min-height: 58px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourcourses1.svg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}
.developer_skills .text-blk.desc {
  font-size: 20px;


  line-height: 27.28px;
  color: #999999;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.developer_skills .text-blk.info {
  font-size: 20px;
  line-height: 27.28px;
  color: #999999;
  text-align: center;
}

.developer_skills .responsive-container-block.content {
  justify-content: space-evenly;
  width: auto;
}

.developer_skills .responsive-container-block.card:hover {
  border-top-color: #333333;
}

.skills_chart .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.skills_chart .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.skills_chart .responsive-container-block.bg {
  max-width: 1320px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-right: 10px;
  padding-bottom: 80px;
  padding-left: 10px;
}

.skills_chart .text-blk.title {
  font-size: 35px;
  line-height: 47.74px;
  font-weight: 700;
  color: #f4382f;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.skills_chart .text-blk.info {
  max-width: 496px;
  font-size: 25px;
  line-height: 34.1px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
}

.skills_chart .responsive-container-block.prog-cont {
  justify-content: space-between;
}

.skills_chart .responsive-container-block.prog {
  width: 48%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.skills_chart .text-blk.head {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  font-size: 25px;
  line-height: 34.1px;
  color: #666666;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.skills_chart .responsive-container-block.outer {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-height: 15px;
  background-color: #3856b2;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.skills_chart .responsive-container-block.inner {
  min-height: 15px;
  background-color: #f4382f;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.skills_chart .responsive-container-block.inner.i1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.skills_chart .responsive-container-block.inner.i2 {
  width: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.skills_chart .responsive-container-block.inner.i3 {
  width: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.skills_chart .responsive-container-block.big-cont {
  background-color: #f8f8f8;
  justify-content: center;
}

@media (max-width: 1024px) {
  .skills_chart .responsive-container-block.prog {
    width: 49%;
  }
}

@media (max-width: 768px) {
  .skills_chart .responsive-container-block.prog {
    width: 85%;
  }

  .skills_chart .responsive-container-block.prog-cont {
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  .skills_chart .responsive-container-block.prog {
    width: 100%;
  }

  .skills_chart .text-blk.title {
    font-size: 31px;
    line-height: 41px;
  }

  .skills_chart .text-blk.info {
    font-size: 22px;
    line-height: 32px;
  }

  .skills_chart .text-blk.head {
    font-size: 22px;
    line-height: 32px;
  }
}